<h5>Import Cyclic BIlling Report</h5>
<div id="loader">
  <%= image_tag 'loader' %>
</div>
    <%= form_tag import_index_index_path, id: 'form', multipart: true do %>
      <%= file_field_tag :file, required: true %>
      <%= submit_tag "Import CSV", onclick: 'loader();', class: "btn blue" %>
<% end %>

<h2>Accounts</h2>
<%= link_to "Download", export_path, class: "btn blue", style: "color: white;" %>
<table class="striped">
  <thead>
    <th>Account</th>
    <th>Amount</th>
    <th>Phone Number</th>
    <th>Email</th>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.dep_acc %></td>
        <td><%= account.amount %></td>
        <td><%= account.phone %></td>
        <td><%= account.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
